
.dropdown {
    margin-top: 12px;
    background-color: var(--primary-bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    width: 150px;
    color: var(--primary-font-color);
    /* font-size: 1rem; */
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  
    border: 2px solid transparent;
    background: linear-gradient(var(--primary-bg-color), var(--primary-bg-color))
        padding-box,
      linear-gradient(to right, var(--multicolor-left), var(--multicolor-right))
        border-box;
    /* transition: 1s; */
  }
  
  .dropdown-div {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 12px 10px;
    gap: 2%;
    /* margin-top: 20px; */
    position: fixed;
    right: 0px;
    /* border-radius: 12px; */
    /* margin-bottom: 30px; */
    /* z-index: 500; */
    z-index: 299;
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .disabled-btn{
    cursor: not-allowed !important;
  }
  
  .scrt-value{
    display: flex;
    gap: 5px;
  }
  .poolSort{
    align-items: center;
    background: linear-gradient(var(--primary-bg-color),var(--primary-bg-color)) padding-box,linear-gradient(to bottom,var(--multicolor-left),var(--multicolor-right)) border-box;
    border: 2px solid transparent;
    border-radius: var(--standard-radius);
    color: var(--primary-font-color);
    height: 2.5rem;
    justify-content: center;
    opacity: .8;
    position: relative;
    text-align: center;
    width: 8rem;
    z-index: 100;
    display: flex;
    gap: 10px;
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .dropdown-div {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.08);
      width: calc(100% - 15rem);
    }
  }
  
  .dropdown:hover {
    cursor: pointer;
  }
  
  .dropdown option {
    /* margin-top: 25px; */
    background-color: var(--primary-bg-color);
    font-size: 1rem;
  }
  
  .dropdown:active {
    cursor: pointer;
  }
  
  /* Rewards Button */
  
  .reward-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .reward-container {
    /* background-color: var(--primary-bg-color); */
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 5px;
    margin-top: 2px;
    border-radius: 5px;
    outline: none;
    width: 120px !important;
    /* color: var(--primary-font-color); */
    color: white;
    /* font-size: 1rem; */
    border: 2px solid transparent;
    /* background: linear-gradient(var(--primary-bg-color), var(--primary-bg-color))
        padding-box,
      linear-gradient(to right, var(--multicolor-left), var(--multicolor-right))
        border-box; */
    /* margin-top: 15px; */
    transition: 0.3s;
    display: flex;
    /* height: 35px; */
    flex-direction: row !important;
    gap: 20px;
  }
  
  .tempo{
    display: flex;
    flex-direction: row !important;
  }
  
  .reward-and-button{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
    width: 100px;
  }
  
  .reward-container:hover {
    cursor: pointer;
    filter: brightness(1.5);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    position: relative;
  }
  
  .reward-container-open {
    position: absolute;
    color: var(--primary-font-color);
    top: 70px;
    border-radius: 12px;
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.95);
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .reward-container-open {
      /* -webkit-backdrop-filter: blur(500px);
      backdrop-filter: blur(500px); */
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .rewards-claim-button {
    width: 80%;
  }
  /* Theme Toggle */
  /* .toggleSwitch {
    position: absolute;
    top: -10px;
    right: 20px;
    margin-right: 10px;
  } */
  
  .toggleSwitch label {
    width: 80px;
    height: 40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 10px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
  
  .toggleSwitch label:after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 4px;
    /* background: linear-gradient(180deg, #ffcc89, #d8860b); */
    background: var(--accent-color-1);
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* .toggleSwitch input {
    width: 0;
    height: 0;
    visibility: hidden;
  } */
  
  /* .toggleSwitch input:checked + label {
    background: #242424;
  } */
  
  .toggleSwitch label.checked:after {
    left: 78px;
    transform: translateX(-100%);
    /* background: linear-gradient(180deg, #777, #3a3a3a); */
    background: var(--secondary-bg-color);
  }
  .toggleSwitch label,
  .toggleSwitch label:after {
    transition: 0.3s;
  }
  
  .toggleSwitch label:active:after {
    width: 60px;
  }
  
  label svg {
    position: absolute;
    width: 20px;
    top: 12px;
    z-index: 100;
  }
  label svg.sun {
    left: 10px;
    color: #fff;
    transition: 0.3s;
  }
  label svg.moon {
    left: 52px;
    color: #7e7e7e;
    transition: 0.3s;
  }
  
  .toggleSwitch label.checked svg.sun {
    color: #7e7e7e;
  }
  label.checked svg.moon {
  
    color: #fff;
  }
  
  /* Network Button CSS */
  
  .network-button {
    /* padding: 0 15px; */
    width: 6rem !important;
  }
  